---
layout: layout.liquid
title: Sam Barnett Portfolio
biography: Hey, I’m Sam Barnett. I’m a Vancouver based designer, photographer and filmmaker. I put myself into creative projects that are at the intersection of mediums. I’m currently a teaching assistant in the design film course at Simon Fraser University.
---
<main class="mainContent">
    <section class="section headline">
        <span class="headline__name" data-js-floatingImage="parent">
            Sam Barnett
            <img src="{{ "/media/profile.png" | url | prepend: baseUrl }}" data-js-floatingImage="image" class="headline__image floatingImage">
        </span>
        <span class="headline__title">Designer / Filmmaker / Photographer</span>
    </section>
    <section class="section">
        <span class="project__description">A selection of recent work:</span>
        {%- for project in collections.projects -%}
            {% assign slug = project.data.title | slug  %}
        <section class="project" data-js-floatingImage="parent">
            <a href="content/{{ slug }}">
            <div class="project__title">{{ project.data.title }}</div>
            <div class="project__categories">
                {%- for category in  project.data.categories -%}
                    <span class="project__category">{{ category }}</span>
                {%- endfor -%}
            </div>
            </a>
            <img class="project__image  floatingImage" data-js-floatingImage="image" src="{{ project.data.title | slug | prepend: '/media/projects/' | append: '/hero.png' | url | prepend: baseUrl }}">
        </section>
        {%- endfor -%}
    </section>
</main>