---
tags: projects
title: Man & Sex
categories: 
 - Speculative Design
 - Faux-Documentary
category-note: This project is embedded in the speculative strategies of design fiction and critical design.
team:
 - 
  name: Finnigian Shame
  portfolio: https://www.example.com
 - 
  name: Toni Gilletti
  portfolio: https://www.example.com
 - 
  name: Marcc Buffalo
  portfolio: https://www.example.com
team-note: Teammate names have been redacted due to the satirical nature of this project. 
role: 
 - Conceptual Development
 - Filmmaker
role-note:
layout: layout.liquid
---
<main class="mainContent">

<section class="writeup column">
 <div class="writeup__header">
  <h1 class="writeup__title">{{ title }}</h1>
  <p class="writeup__smallDetail">{{ category-note }}</p>
  <img class="writeup__image" src="{{ title | slug | prepend: '/media/projects/' | append: '/hero.png' | url | prepend: baseUrl }}">
  <div class="writeup__details">
   <div class="">
    <div class="writeup__list__title">Category:</div>
    {%- for category in  categories -%}
     <span class="writeup__list">{{ category }}</span>
    {%- endfor -%}
   </div>
   <div class="">
    <div class="writeup__list__title">Team:</div>
    {%- for mate in team -%}
     <a class="writeup__list" href="{{ mate.portfolio }}">{{ mate.name }}</a>
    {%- endfor -%}
   </div>
  </div>
 </div>

<h2>Concept</h2>
<p class="writeup__paragraph">This is a speculative design project that critiques the objectification of women in a society that has prioritized sex and the pursuit of sex over relationships.</p>

<p class="writeup__paragraph">This project is contextualized within the Seduction Community, the subset of masculine self-help communities that see sex as an outcome of self-improvement. The project takes the allegory of hunting for women that is pervasive in male discourse and reconstructs in a literal from. It defamiliarizes the relationship between man and his best friend from what is traditionally wholesome, to a new-age misogynist working dog. </p>

<p class="writeup__paragraph">We present this heightened example of hyper masculinity, to serve as a catalyst for self-reflection. </p>


<h2>Project</h2>
<h3>Mathew Wilk’s Hunting for Bitches With Man’s Best Friend (The Ultimate Kit to Train Your Dog to Identify Horny Women)</h3>
<p class="writeup__paragraph">Mathew Wilk’s Hunting for Bitches With Man’s Best Friend (The Ultimate Kit to Train Your Dog to Identify Horny Women) is a snake oil kit, that is used to train a dog to identify if a woman is more biologically likely to be experiencing heightened sexual desire. The kit contains training DVDs and samples of a luteinizing hormone, which is released by a woman’s body to cause ovulation and a subsequent increase in libido. The kit is designed for the pickup artist community. </p>

<h3>'Man & Sex: Fetching the Bone'</h3>
<p class="writeup__paragraph">'Man & Sex: Fetching the Bone’ is a faux-documentary produced by the fictional Dice Media. It explores the complex and nuanced experiences of three men who use the kit, a mom and pop graphic design firm that worked on the project, and the somewhat subjective host. </p>
 <div class="imageBlock">
  <a href="{{ title | slug | prepend: '/media/projects/' | append: '/1.png' | url | prepend: baseUrl }}"><img src="{{ title | slug | prepend: '/media/projects/' | append: '/1.png' | url | prepend: baseUrl }}"></a>
  <a href="{{ title | slug | prepend: '/media/projects/' | append: '/2.png' | url | prepend: baseUrl }}"><img src="{{ title | slug | prepend: '/media/projects/' | append: '/2.png' | url | prepend: baseUrl }}"></a>
  <a href="{{ title | slug | prepend: '/media/projects/' | append: '/3.png' | url | prepend: baseUrl }}"><img src="{{ title | slug | prepend: '/media/projects/' | append: '/3.png' | url | prepend: baseUrl }}"></a>
  <a href="{{ title | slug | prepend: '/media/projects/' | append: '/4.png' | url | prepend: baseUrl }}"><img src="{{ title | slug | prepend: '/media/projects/' | append: '/4.png' | url | prepend: baseUrl }}"></a>
  <a href="{{ title | slug | prepend: '/media/projects/' | append: '/5.png' | url | prepend: baseUrl }}"><img src="{{ title | slug | prepend: '/media/projects/' | append: '/5.png' | url | prepend: baseUrl }}"></a>
 </div>
<h2>Process</h2>
 <p class="writeup__paragraph">This project required an incredible amount of finesse to create an effective satire, that was not blatantly offensive. For the film to serve as an effective critique of the hyper-masculine pursuit of sex, the characters needed to be nuanced and relatable so that the audience could empathize with them.</p>

<p class="writeup__paragraph">To achieve this we embedded the project in research on the Seduction Community and its effect of individuals and society. We were drawn to the Seduction Community because of its powerful allure as a self-help community, albeit with an exterior motive—where ‘everyday men’ form meaningful relationships with each other while improving their lives.</p>
</section>
</main>