---
siteTitle: Sam Barnett Portfolio
baseUrl: "http://localhost:8080"
---
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% comment %}<link rel="canonical" href="https://example.com/">{% endcomment %}

    <!-- SEARCH ENGINE AVOID   -->
    <meta name="robots" content="noindex">


    <title>{{ title }} | {{ siteTitle }}</title>
    <meta name="description"
          content="Sam Barnett's Portfolio">

    <!--  FAVICON-->
    <link rel="shortcut icon" type="image/x-icon" href="media/logos/favicon.ico"/>

    <!-- Link to use Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/mwa1wwc.css">

    <!-- Normalize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="{{ '/style/style.css' | url }}">

</head>
<body>

{% include 'partials/nav' %}
{{ content }}
{% include 'partials/footer' %}
<script src="{{ '/script/vendor/simple-lightbox.min.js' | url }}"></script>
<script src="{{ '/script/script-min.js' | url }}"></script>
</body>
</html>